@import "../../variable";
.detailed-content {
  .intro {
    margin-top: 40px;
    @media (min-width: 1600px) {
      margin-top: 65px;
    }
    background-color: $primary-color;
    border-radius: 22px;
    padding: 30px 310px 36px 110px;
    position: relative;
    text-align: center;
    .image {
      position: absolute;
      bottom: 0;
      right: 23px;
    }
    .title {
      font-size: 22px;
      font-weight: 700;
    }
  }
  .selectors {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    background-color: $primary-color;
    border-radius: 22px;
    margin-top: 30px;
    padding: 30px;
    .netflix,
    .disney,
    .prime {
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      width: 291px;
      height: 191px;
      .logo-div,
      .img-div {
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      svg {
        g {
          clip-path: none;
        }
      }
      .logo-div {
        opacity: 1;
        transition: 0.2s ease-in;
      }
      .img-div {
        opacity: 0;
        transition: 0.2s ease-in;
      }
      transition: 0.2s ease-in;
      &:hover,
      &.selected {
        .logo-div {
          opacity: 0;
        }
        .img-div {
          opacity: 1;
        }
      }
    }
    .netflix {
      border: 3px solid #d91c11;
      &:hover,
      &.selected {
        background-color: #d91c11;
      }
    }
    .prime {
      border: 3px solid #3d8cbb;
      &:hover,
      &.selected {
        background-color: #3d8cbb;
      }
    }
    .disney {
      border: 3px solid #27479f;
      &:hover,
      &.selected {
        background-color: #27479f;
      }
    }
  }
}
